@import "tailwindcss";

@theme {
  --color-primary: #f44b87;
  --color-dark: #565e6cff;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope", sans-serif;
}

button.swal2-confirm {
  background-color: #f44b87;
}
